@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  background: linear-gradient(135deg, #3d86d4, #00091a);
  color: #f7fafdf8;
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 20px;
}

h2, h5 {
  color: #d32f2f; 
  font-weight: bold;
}

button {
  background-color: #d32f2f !important;
  border: none;
}

button:hover {
  background-color: #b71c1c !important;
}

.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.poke-img {
  transition: transform 0.5s ease;
}

.poke-img:hover {
  transform: rotate(45deg) scale(1.2);
}


