.poke-animation {
  transition: transform 0.5s ease;
}

.poke-animation.hovered {
  transform: rotate(360deg) scale(1.3);
}

.poke-img {
  transition: opacity 0.5s ease;
}

.poke-animation.hovered .poke-img {
  opacity: 0.8;
}

.poke-animation {
  cursor: pointer;
  background: radial-gradient(circle, white 40%, #f44336 100%);
  border-radius: 50%;
  padding: 10px;
}

